<link rel="stylesheet" href="/css/issue_details.css">

<!-- ISSUE DETAILS -->
<div class="popup-container" id="issue-detail-container">

    <div class="issue-details" id="issue-details">
        <!-- RENDERING ISSUE DETAILS USING JAVASCRIPT -->
    </div>


</div>